
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}
.nav1{
    position: relative;
    top: 50;
    left: 0;
    width: 100%;
    background-color: #333;
    margin: 0;
    list-style: none;
}
nav {
  position: fixed;
  top: 50;
  left: 0;
  width: 25%;
  background-color: rgb(72, 86, 108);
  font-size: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
    display: inline-block;
}
nav a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  background-color: #444;
}
figure{
    margin-left: 700px;
    
    
}
p{
  margin-left: 700px;
}
.spanc{
  color: red;
}
.spaz{
  color: greenyellow;
}
body{
  background-image: url(uvitacisite.jpg);
}
p{
  color: white;
  font-size: 20px;
}
figcaption{
  color: white;
  font-size: 20px;
}